body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}


header {
    /*position: static; /*используется в основном, что бы вернуть документ в стандартное положение*/
    background-color: #229122;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1; /*выталкивает обьект вперёд на страницу (если он был за банером, текстом и т.п.)*/
    top: 0; /*убирает меленькие просвечивающиеся полоски с верху и с боку*/
    left: 0;
}
header h1 {
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block; /*что бы рамка была не на всю страницу, так как это блочный элемент*/
    border-radius: 20px; /*делает углы рамки скруглёнными*/
}

/*header {
    position: relative; /*используется для смещения обьекта относительно его начального положения
    left: 0px;}*/

.banner { /*родительский элемент не должен иметь статическую позицию*/
    position: relative;
}
.banner img {
    max-width: 100%;
}
.banner .welcome { /*позиционируем надпись относительно банера(родительского элемента)*/
    position: absolute;
    left: 10px;
    top:7%;
    background-color: #229122;
    color: #740a0a;
    padding: 20px;
}
.banner h2{
    font-size: 35px;
}
.banner h2 span {
    font-size: 1.5em;/*делает шрифт в нутри span в 1.5 раз больше относительно текста в .banner h2, так как последний является родителем span*/
}

nav {
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;/*используется для того что бы обьект перемещался в месте с прокруткой сайта*/
    top: 100px; /*когда граница сайта будет от обьекта на расстоянии в 150px он начнёт двигатся*/
}
nav ul {
    white-space: nowrap; /*(родительский элемент nav li)делает так что бы текст не перескакивал на следующую строку*/
    max-width: 1200px; 
    margin: 0 auto; /*таким образом можно центролизовать текст*/
}
nav li {
    width: 25%;
    display:  inline-block;
    font-size: 24px;
}
nav li a {
    text-decoration: none;
    color: #4b4b4b;
}
nav li a.join {
    color: #740a0a;
}
main {
    max-width: 100%; /*эти два параметра работают одновременно, если допустим страница будет в 2000рх тогда ширина будет 1200рх. Если область просмотра к примеру будет 800рх то ширина буде 100%*/
    width: 1200px;
    margin: 80px auto; /*если будет большой экран то маржа равномерно распределится с лева и с права*/
    padding: 0 40px;
    box-sizing: border-box;/*делает так что бы границы padding ,skb d rk.xtys d 100% ширины, а не добавляли их, для того что бы при изменении размера страницы текст изменялся пропорционально*/
}
article h2 {
    color: #F63232;
    font-size: 48px;
}
article p {
    line-height: 2em;
    color: #4b4b44;
}
.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;
}
section.join {
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
.join h2 {
    font-size: 36px;

}
form input {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28;
    border: 4px solid white;
}
footer {
    background: #229122;
    color: white;
    padding: 10px;
    text-align: center;
}